hvspatialpy
Pygments
jupyter-book
numpy>=1.20
pandas<1.5.4
matplotlib
obspy
scipy
parzenpy
tslearn
scikit-learn
rasterio
ipywidgets
IPython
attrs
coverage
iniconfig
packaging
pluggy
py
pyparsing
pytest
pytest-cov
tomli
